<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="http://124.71.24.240:80" target="_blank"
    >
      爱坤710
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/Fiyx0526/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="http://124.71.24.240:1234" target="_blank"
    >
      学习强国
    </a>
  </p>
</footer>
